UDPListenerEx/UDPListenerEx/Service References/TempSoundService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://temp-sound.cloudapp.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://temp-sound.cloudapp.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://temp-sound.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GETDATAFUCK_InputMessage">
    <wsdl:part name="parameters" element="tns:GETDATAFUCK" />
  </wsdl:message>
  <wsdl:message name="IService1_GETDATAFUCK_OutputMessage">
    <wsdl:part name="parameters" element="tns:GETDATAFUCKResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSpecificDateNOLIKE_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecificDateNOLIKE" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSpecificDateNOLIKE_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecificDateNOLIKEResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSpecificDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecificDate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSpecificDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecificDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Datatransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:Datatransfer" />
  </wsdl:message>
  <wsdl:message name="IService1_Datatransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DatatransferResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GETDATAFUCK">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GETDATAFUCK" message="tns:IService1_GETDATAFUCK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GETDATAFUCKResponse" message="tns:IService1_GETDATAFUCK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecificDateNOLIKE">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSpecificDateNOLIKE" message="tns:IService1_GetSpecificDateNOLIKE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSpecificDateNOLIKEResponse" message="tns:IService1_GetSpecificDateNOLIKE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecificDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSpecificDate" message="tns:IService1_GetSpecificDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSpecificDateResponse" message="tns:IService1_GetSpecificDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Datatransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Datatransfer" message="tns:IService1_Datatransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DatatransferResponse" message="tns:IService1_Datatransfer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GETDATAFUCK">
      <soap:operation soapAction="http://tempuri.org/IService1/GETDATAFUCK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificDateNOLIKE">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSpecificDateNOLIKE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificDate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSpecificDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Datatransfer">
      <soap:operation soapAction="http://tempuri.org/IService1/Datatransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://temp-sound.cloudapp.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>